Dependencies

node_modules/
package-lock.json
yarn.lock

System Files

.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo

Build/Dist

dist/
build/
*.log

Environment variables

.env
.env.local